
.gradient-custom-3 {
  
    background: linear-gradient(to right, #ee5a6f, #f29263)
  }
  .gradient-custom-4 {
  
    background: linear-gradient(to right, #ee5a6f, #f29263);
  }

.card {
    border-radius: 15px;
}