.gradient-custom-3 {
    /* fallback for old browsers */
    background: #3c33d2;
  
    background: linear-gradient(90deg, rgba(60,51,210,1) 0%, rgba(183,179,238,1) 58%, rgba(255,255,255,1) 92%);
  }
  .gradient-custom-4 {
    /* fallback for old browsers */
    background: #3c33d2;
  
    background: linear-gradient(90deg, rgba(60,51,210,1) 0%, rgba(183,179,238,1) 58%, rgba(255,255,255,1) 92%);
  }

.card {
    border-radius: 15px;
}