
.gradient-custom-3 {
  
    background: linear-gradient(to right, #ee5a6f, #f29263)
  }
  .gradient-custom-4 {
  
    background: linear-gradient(to right, #ee5a6f, #f29263);
  }

  .btn-primary{
    background-color: #ee5a6f !important;
  }

.card {
    border-radius: 15px;
}